@{

    Layout = "_LayoutPortal2";
}
@model FlightIndexViewModel


@{
    ViewData["Title"] = "Quản lí chuyến bay";
}
<!DOCTYPE html>
<html>
<style>
    .header {
        background-color: #1559b6;
        text-align: center;
        padding: 5px;
        border-bottom: 2px ridge #ffffff;
        font-size: 30px;
        color: azure;
        font-family: sans-serif;
    }

    .mycolor {
        color: azure;
    }

    body {
        background-image: url("https://img2.thuthuatphanmem.vn/uploads/2019/03/02/hinh-nen-powerpoint-xanh-duong-cuc-dep_012324053.jpeg");
        font-family: sans-serif;
        color: #333;
    }

    .header-heading {
        text-align: center;
        font-family: sans-serif;
        margin: 10px;
        color: azure;
    }

    label {
        padding-left: 10px;
    }

    .input-row {
        display: flex;
    }

    .input-group {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .title-search {
        text-align: left;
        font-size: 17px;
    }

    .border {
        border-radius: 20px;
        background-color: azure;
        width: 1156px;
        height: 200px;
        padding: 20px;
    }

    .btn_add {
        border-radius: 5px;
        color: #ffffff;
        background-color: #3ee609;
        padding: 10px;
    }
</style>
<head>
    <title>Quản lý chuyến bay</title>
    <div class="header">
        <a href="/Admin" style="color:#ffffff">Admin</a>
        <h1 class="header--title">QUẢN LÝ CHUYẾN BAY</h1>
    </div>
</head>
<div style="text-align:center">
    <div class="title-search">
        <h3>
            TÌM KIẾM
        </h3>
    </div>
    @using (Html.BeginForm("Index", "Flight"))
    {
        <div class="border">
            <div class="input-row">
                <div class="input-group">
                    <label for="searchMaChuyenBay">Mã chuyến bay</label>
                    @Html.TextBox("searchMaChuyenBay")
                </div>
                <div class="input-group">
                    <label for="searchSanBayDi_ID">Sân bay đi</label>
                    <select class="searchSanBayDi_ID" asp-items="@ViewBag.SanBayDi" name="searchSanBayDi_ID" id="searchSanBayDi_ID" style="width:200px;" asp-for="searchSanBayDi_ID"></select>
                </div>
                <div class="input-group">
                    <label for="searchSanBayDen_ID">Sân bay đến</label>
                    <select class="searchSanBayDen_ID" asp-items="@ViewBag.SanBayDen" name="searchSanBayDen_ID" id="searchSanBayDen_ID" style="width:200px;" asp-for="searchSanBayDen_ID"></select>
                </div>
            </div>
            <div class="input-row">
                <div class="input-group">
                    <label for="searchThoiGianDuKienBay">Thời gian dự kiến bay</label>
                    @Html.TextBox("searchThoiGianDuKienBay")
                </div>
                <div class="input-group">
                    <label for="searchSoGhe">Số ghế</label>
                    @Html.TextBox("searchSoGhe")
                </div>
                <div class="input-group">
                    <label for="searchMayBayID">Máy bay</label>
                    <select class="searchMayBayID" asp-items="@ViewBag.MayBay" name="searchMayBayID" id="searchMayBayID" style="width:200px;" asp-for="searchMayBayID"></select>
                </div>
            </div>
            <input type="submit" value="Tìm" >
            <button>Hủy tìm kiếm</button>
            <p style="text-align:right" ;>
                <a class="btn_add" asp-action="Create">Thêm chuyến bay</a>
            </p>
        </div>
    }
</div>
<table class="table" style="width:1150px" ;>
    <thead>
        <tr>
            <th>
                Chuyến bay ID
            </th>
            <th style="width: 150px" ;>
                Mã chuyến bay
            </th>
            <th style="width: 150px" ;>
                ID sân bay đi
            </th>
            <th style="width: 150px" ;>
                ID sân bay đến
            </th>
            <th style="width: 150px" ;>
                Thời gian dự kiến bay
            </th>
            <th style="width: 150px" ;>
                Số ghế 
            </th>
            <th style="width: 150px" ;>
                ID Máy bay
            </th>
            <th style="width: 150px" ;>
                Giá vé
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ChuyenBay)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaChuyenBay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SanBayDi_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SanBayDen_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiGianDuKienBay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoGhe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MayBayID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaVe)
                </td>
                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
</html>


@section Scripts {
    <script>
        $('.searchSanBayDi_ID').select2();
    </script>
    <script>
        $('.searchSanBayDen_ID').select2();
    </script>
    <script>
        $('.searchMayBayID').select2();
    </script>


}
